html {
    color: aliceblue;
}

body {
    background-color: #788475;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
    width: 100%;
}

.cabecalho {
    background-color: #8daa91;
    display: flex;
    justify-content: center;
    height: auto;
}

.cabecalho .logo {
    width: 60px;
    height: 60px;
}
/* deixar o margin em auto para centralizar a imagen */
.imagen {
    max-width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.texto-descricao {
    display: flex;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
    font-size: 26px;
    color: aliceblue;
}

ul {
    font-size: 26px;
    justify-items: center;
    color: aliceblue;
    padding: 35px;
    margin: 0 auto;

}

/* deixa o radape sempre a mostra mesmo que scrol a página para baixo para mostra as informaçoes do RU e ano*/
.rodape {
    background-color: #8daa91;
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
}